n8n-weekly-evaluation.json
{
  "name": "Video Factory — Evaluasi Mingguan (Minggu 20:00 WIB)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 20 * * 0"
            }
          ]
        }
      },
      "id": "d1000000-0000-0000-0000-000000000001",
      "name": "Minggu 20:00 WIB",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-200, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://creavoo-factory.vercel.app/api/schedule/evaluate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-internal-secret", "value": "={{ $env.SCHEDULE_WEBHOOK_SECRET }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ profile: \"creavoo\" }) }}",
        "options": {
          "timeout": 100000,
          "response": { "response": { "neverError": true } }
        }
      },
      "id": "d1000000-0000-0000-0000-000000000002",
      "name": "Evaluasi Creavoo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [20, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://creavoo-factory.vercel.app/api/schedule/evaluate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-internal-secret", "value": "={{ $env.SCHEDULE_WEBHOOK_SECRET }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ profile: \"zaportfolio\" }) }}",
        "options": {
          "timeout": 100000,
          "response": { "response": { "neverError": true } }
        }
      },
      "id": "d1000000-0000-0000-0000-000000000003",
      "name": "Evaluasi Zaportfolio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [240, 0]
    },
    {
      "parameters": {
        "jsCode": "// Susun hasil evaluasi kedua profile jadi satu pesan Telegram.\nconst c = $(\"Evaluasi Creavoo\").first().json;\nconst z = $input.first().json;\n\nfunction block(label, r) {\n  if (!r?.ok) return `${label}\\n⚠️ Evaluasi gagal: ${r?.error ?? \"unknown\"}\\n`;\n  const status = r.applied ? \"✅ Jadwal minggu depan diperbarui\" : \"ℹ️ Jadwal dipertahankan (data belum cukup / tidak berubah)\";\n  return `${label} (${r.postsAnalyzed ?? 0} post dianalisis)\\n${r.narrative}\\n${status}\\n`;\n}\n\nconst text =\n  `📊 EVALUASI MINGGUAN\\n\\n` +\n  block(\"Creavoo\", c) + \"\\n\" +\n  block(\"Zaportfolio\", z) + \"\\n\" +\n  `Cek/atur manual di Schedule: https://creavoo-factory.vercel.app/schedule`;\n\nreturn [{ json: { text } }];"
      },
      "id": "d1000000-0000-0000-0000-000000000004",
      "name": "Susun Pesan Evaluasi",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $env.TELEGRAM_CHAT_ID, text: $json.text }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "d1000000-0000-0000-0000-000000000005",
      "name": "Kirim Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 0]
    }
  ],
  "connections": {
    "Minggu 20:00 WIB": {
      "main": [[ { "node": "Evaluasi Creavoo", "type": "main", "index": 0 } ]]
    },
    "Evaluasi Creavoo": {
      "main": [[ { "node": "Evaluasi Zaportfolio", "type": "main", "index": 0 } ]]
    },
    "Evaluasi Zaportfolio": {
      "main": [[ { "node": "Susun Pesan Evaluasi", "type": "main", "index": 0 } ]]
    },
    "Susun Pesan Evaluasi": {
      "main": [[ { "node": "Kirim Telegram", "type": "main", "index": 0 } ]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Jakarta"
  },
  "pinData": {}
}
