n8n-schedule-tick.json
{
  "name": "Video Factory — Full Pipeline (posting, notif harian, evaluasi mingguan)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 * * * *"
            }
          ]
        }
      },
      "id": "b1000000-0000-0000-0000-000000000001",
      "name": "Tiap Jam (menit 0)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -420,
        240
      ]
    },
    {
      "parameters": {
        "url": "https://creavoo-factory.vercel.app/api/schedule",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "profile",
              "value": "creavoo"
            }
          ]
        },
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "b1000000-0000-0000-0000-000000000020",
      "name": "Cek Jadwal Creavoo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -180,
        60
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "internal-secret-header",
          "name": "Video Factory — Internal Secret"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Gate: hanya lanjut kalau JAM SEKARANG (WIB) memang terjadwal untuk profile ini\n// sesuai settings di halaman Schedule web (dayConfigs per hari — jadwal rekomendasi).\n// Kalau tidak terjadwal → return [] → seluruh cabang berhenti, tidak generate apa-apa.\nconst d = $input.first().json;\nconst settings = d.settings ?? {};\nconst jobs = d.jobs ?? [];\n\nconst now = new Date();\nconst wibHour = Number(now.toLocaleString(\"en-US\", { timeZone: \"Asia/Jakarta\", hour: \"2-digit\", hour12: false })) % 24;\nconst wibDay = new Date(now.getTime() + 7 * 3600 * 1000).getUTCDay();\n\nif (!settings.enabled) return [];\nif (!(settings.days ?? []).includes(wibDay)) return [];\n\nconst dayConfig = settings.dayConfigs?.[wibDay] ?? {\n  times: settings.times ?? [], carouselTimes: [],\n  voice: settings.voice, useKnowledge: settings.useKnowledge, igShareToFeed: settings.igShareToFeed,\n};\n\nlet isVideoTime = (dayConfig.times ?? []).includes(wibHour);\nlet isCarouselTime = (dayConfig.carouselTimes ?? []).includes(wibHour);\nif (!isVideoTime && !isCarouselTime) return [];\n\n// Anti-duplikat: kalau job dengan tipe sama sudah dibuat < 55 menit lalu, skip\nconst cutoff = Date.now() - 55 * 60 * 1000;\nconst recent = (t) => jobs.some(j => j.mediaType === t && new Date(j.createdAt).getTime() > cutoff);\nif (isVideoTime && recent(\"video\")) isVideoTime = false;\nif (isCarouselTime && recent(\"carousel\")) isCarouselTime = false;\nif (!isVideoTime && !isCarouselTime) return [];\n\n// Jadwal rekomendasi tidak pernah menumpuk video & carousel di jam sama —\n// tapi kalau terjadi, video didahulukan.\nconst mediaType = isVideoTime ? \"video\" : \"carousel\";\nreturn [{ json: {\n  mediaType,\n  voice: dayConfig.voice ?? \"id-ID-ArdiNeural\",\n  useKnowledge: dayConfig.useKnowledge ?? true,\n  igShareToFeed: dayConfig.igShareToFeed ?? true,\n  autoTikTok: settings.autoTikTok ?? false,\n  autoInstagram: settings.autoInstagram ?? false,\n} }];"
      },
      "id": "b1000000-0000-0000-0000-000000000021",
      "name": "Gate Jadwal Creavoo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40,
        60
      ]
    },
    {
      "parameters": {
        "url": "https://creavoo-factory.vercel.app/api/trends",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "profile",
              "value": "creavoo"
            }
          ]
        },
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "b1000000-0000-0000-0000-000000000002",
      "name": "Trending Topik Creavoo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        60
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "internal-secret-header",
          "name": "Video Factory — Internal Secret"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Topik acak dari trending — server sudah memfilter topik yang pernah dibuat\n// (memory AI), jadi selalu beda dengan konten sebelumnya.\nconst topics = $input.first().json.topics ?? [];\nif (!topics.length) throw new Error(\"Trends Creavoo kosong\");\nconst gate = $(\"Gate Jadwal Creavoo\").first().json;\nreturn [{ json: { ...gate, topic: topics[Math.floor(Math.random() * topics.length)], profile: \"creavoo\" } }];"
      },
      "id": "b1000000-0000-0000-0000-000000000003",
      "name": "Pilih Topik Creavoo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://creavoo-factory.vercel.app/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ topic: $json.topic, profile: \"creavoo\", useKnowledge: $json.useKnowledge }) }}",
        "options": {
          "timeout": 280000,
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "b1000000-0000-0000-0000-000000000004",
      "name": "Generate Script Creavoo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        60
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "internal-secret-header",
          "name": "Video Factory — Internal Secret"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse SSE /api/generate → event \"done\" = script final. Event \"error\" = AI\n// menolak (misal judul duplikat dengan konten lama).\nconst raw = String($input.first().json.data ?? \"\");\nlet script = null, errMsg = null;\nfor (const line of raw.split(\"\\n\")) {\n  const t = line.trim();\n  if (!t.startsWith(\"data:\")) continue;\n  try {\n    const evt = JSON.parse(t.slice(5).trim());\n    if (evt.type === \"done\") script = evt.data;\n    if (evt.type === \"error\") errMsg = evt.message;\n  } catch { /* token progress */ }\n}\n\nconst pick = $(\"Pilih Topik Creavoo\").first().json;\nif (!script) {\n  return [{ json: { ok: false, profile: \"creavoo\", topic: pick.topic, error: errMsg ?? \"AI tidak mengembalikan script\" } }];\n}\n\n// Body render sesuai tipe dari jadwal. Auto-upload flags dari settings profile —\n// setelah render selesai, server otomatis publish ke akun sesuai profile + kirim\n// SATU notif Telegram \"Notif Post baru nih!\" berisi link post.\nconst base = \"https://creavoo-factory.vercel.app\";\nlet renderUrl, renderBody;\nif (pick.mediaType === \"video\") {\n  renderUrl = base + \"/api/render\";\n  renderBody = {\n    ...script, layout: \"auto\", voice: pick.voice,\n    watermarkHandle: \"\", watermarkLogoUrl: null, profile: \"creavoo\",\n    autoTikTok: pick.autoTikTok, autoInstagram: pick.autoInstagram, igShareToFeed: pick.igShareToFeed,\n  };\n} else {\n  renderUrl = base + \"/api/render-image\";\n  renderBody = {\n    ...script, layout: \"auto\", type: \"carousel\",\n    totalSlides: (script.tips?.length ?? 5) + 2, style: \"creavoo\",\n    watermarkHandle: \"\", watermarkLogoUrl: null,\n    autoInstagram: pick.autoInstagram,\n  };\n}\nreturn [{ json: { ok: true, profile: \"creavoo\", mediaType: pick.mediaType, topic: pick.topic, title: script.videoTitle, renderUrl, renderBody } }];"
      },
      "id": "b1000000-0000-0000-0000-000000000005",
      "name": "Parse & Siapkan Render Creavoo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        60
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "c2000000-0000-0000-0000-000000000001",
              "leftValue": "={{ $json.ok }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1000000-0000-0000-0000-000000000006",
      "name": "Script Creavoo OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1140,
        60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.renderUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.renderBody) }}",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "b1000000-0000-0000-0000-000000000007",
      "name": "Trigger Render Creavoo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        -40
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "internal-secret-header",
          "name": "Video Factory — Internal Secret"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "8145595315",
        "text": "={{ \"❌ [Creavoo] Generate script GAGAL!\\n\\ntopik : \" + ($json.topic ?? \"-\") + \"\\nerror : \" + ($json.error ?? \"unknown\") + \"\\n\\nTidak ada yang di-render. Run berikutnya pilih topik lain otomatis.\" }}",
        "additionalFields": {}
      },
      "id": "b1000000-0000-0000-0000-000000000009",
      "name": "Notif Gagal Creavoo",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1360,
        160
      ],
      "credentials": {
        "telegramApi": {
          "id": "video-factory-bot",
          "name": "Video Factory — Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "url": "https://creavoo-factory.vercel.app/api/schedule",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "profile",
              "value": "zaportfolio"
            }
          ]
        },
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "b1000000-0000-0000-0000-000000000030",
      "name": "Cek Jadwal Zaportfolio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -180,
        440
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "internal-secret-header",
          "name": "Video Factory — Internal Secret"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Gate jadwal Zaportfolio — sama seperti Creavoo, ikut dayConfigs profile ini.\nconst d = $input.first().json;\nconst settings = d.settings ?? {};\nconst jobs = d.jobs ?? [];\n\nconst now = new Date();\nconst wibHour = Number(now.toLocaleString(\"en-US\", { timeZone: \"Asia/Jakarta\", hour: \"2-digit\", hour12: false })) % 24;\nconst wibDay = new Date(now.getTime() + 7 * 3600 * 1000).getUTCDay();\n\nif (!settings.enabled) return [];\nif (!(settings.days ?? []).includes(wibDay)) return [];\n\nconst dayConfig = settings.dayConfigs?.[wibDay] ?? {\n  times: settings.times ?? [], carouselTimes: [],\n  voice: settings.voice, useKnowledge: settings.useKnowledge, igShareToFeed: settings.igShareToFeed,\n};\n\nlet isVideoTime = (dayConfig.times ?? []).includes(wibHour);\nlet isCarouselTime = (dayConfig.carouselTimes ?? []).includes(wibHour);\nif (!isVideoTime && !isCarouselTime) return [];\n\nconst cutoff = Date.now() - 55 * 60 * 1000;\nconst recent = (t) => jobs.some(j => j.mediaType === t && new Date(j.createdAt).getTime() > cutoff);\nif (isVideoTime && recent(\"video\")) isVideoTime = false;\nif (isCarouselTime && recent(\"carousel\")) isCarouselTime = false;\nif (!isVideoTime && !isCarouselTime) return [];\n\nconst mediaType = isVideoTime ? \"video\" : \"carousel\";\nreturn [{ json: {\n  mediaType,\n  voice: dayConfig.voice ?? \"id-ID-ArdiNeural\",\n  igShareToFeed: dayConfig.igShareToFeed ?? true,\n  autoTikTok: settings.autoTikTok ?? false,\n  autoInstagram: settings.autoInstagram ?? false,\n  contentTheme: settings.contentTheme ?? \"it-developer\",\n} }];"
      },
      "id": "b1000000-0000-0000-0000-000000000031",
      "name": "Gate Jadwal Zaportfolio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40,
        440
      ]
    },
    {
      "parameters": {
        "url": "https://creavoo-factory.vercel.app/api/trends",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "profile",
              "value": "zaportfolio"
            },
            {
              "name": "contentTheme",
              "value": "={{ $json.contentTheme }}"
            }
          ]
        },
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "b1000000-0000-0000-0000-000000000012",
      "name": "Trending Topik Zaportfolio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        440
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "internal-secret-header",
          "name": "Video Factory — Internal Secret"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const topics = $input.first().json.topics ?? [];\nif (!topics.length) throw new Error(\"Trends Zaportfolio kosong\");\nconst gate = $(\"Gate Jadwal Zaportfolio\").first().json;\nreturn [{ json: { ...gate, topic: topics[Math.floor(Math.random() * topics.length)], profile: \"zaportfolio\" } }];"
      },
      "id": "b1000000-0000-0000-0000-000000000013",
      "name": "Pilih Topik Zaportfolio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://creavoo-factory.vercel.app/api/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ topic: $json.topic, profile: \"zaportfolio\", useKnowledge: false }) }}",
        "options": {
          "timeout": 280000,
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "b1000000-0000-0000-0000-000000000014",
      "name": "Generate Script Zaportfolio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        440
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "internal-secret-header",
          "name": "Video Factory — Internal Secret"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = String($input.first().json.data ?? \"\");\nlet script = null, errMsg = null;\nfor (const line of raw.split(\"\\n\")) {\n  const t = line.trim();\n  if (!t.startsWith(\"data:\")) continue;\n  try {\n    const evt = JSON.parse(t.slice(5).trim());\n    if (evt.type === \"done\") script = evt.data;\n    if (evt.type === \"error\") errMsg = evt.message;\n  } catch { /* token progress */ }\n}\n\nconst pick = $(\"Pilih Topik Zaportfolio\").first().json;\nif (!script) {\n  return [{ json: { ok: false, profile: \"zaportfolio\", topic: pick.topic, error: errMsg ?? \"AI tidak mengembalikan script\" } }];\n}\n\nconst base = \"https://creavoo-factory.vercel.app\";\nlet renderUrl, renderBody;\nif (pick.mediaType === \"video\") {\n  renderUrl = base + \"/api/render\";\n  renderBody = {\n    ...script, layout: \"auto\", voice: pick.voice,\n    watermarkHandle: \"\", watermarkLogoUrl: null, profile: \"zaportfolio\",\n    autoTikTok: pick.autoTikTok, autoInstagram: pick.autoInstagram, igShareToFeed: pick.igShareToFeed,\n  };\n} else {\n  renderUrl = base + \"/api/render-image\";\n  renderBody = {\n    ...script, layout: \"auto\", type: \"carousel\",\n    totalSlides: (script.tips?.length ?? 5) + 2, style: \"zaportfolio\",\n    watermarkHandle: \"\", watermarkLogoUrl: null,\n    autoInstagram: pick.autoInstagram,\n  };\n}\nreturn [{ json: { ok: true, profile: \"zaportfolio\", mediaType: pick.mediaType, topic: pick.topic, title: script.videoTitle, renderUrl, renderBody } }];"
      },
      "id": "b1000000-0000-0000-0000-000000000015",
      "name": "Parse & Siapkan Render Zaportfolio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "c2000000-0000-0000-0000-000000000002",
              "leftValue": "={{ $json.ok }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b1000000-0000-0000-0000-000000000016",
      "name": "Script Zaportfolio OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1140,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.renderUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.renderBody) }}",
        "options": {
          "timeout": 60000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "b1000000-0000-0000-0000-000000000017",
      "name": "Trigger Render Zaportfolio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        340
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "internal-secret-header",
          "name": "Video Factory — Internal Secret"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "8145595315",
        "text": "={{ \"❌ [Zaportfolio] Generate script GAGAL!\\n\\ntopik : \" + ($json.topic ?? \"-\") + \"\\nerror : \" + ($json.error ?? \"unknown\") + \"\\n\\nTidak ada yang di-render. Run berikutnya pilih topik lain otomatis.\" }}",
        "additionalFields": {}
      },
      "id": "b1000000-0000-0000-0000-000000000019",
      "name": "Notif Gagal Zaportfolio",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1360,
        540
      ],
      "credentials": {
        "telegramApi": {
          "id": "video-factory-bot",
          "name": "Video Factory — Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "e1000000-0000-0000-0000-000000000001",
      "name": "Jam 8 Pagi WIB",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -420,
        760
      ]
    },
    {
      "parameters": {
        "url": "https://creavoo-factory.vercel.app/api/schedule",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "profile",
              "value": "creavoo"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "e1000000-0000-0000-0000-000000000002",
      "name": "Ambil Jadwal Creavoo (Digest)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -180,
        760
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "internal-secret-header",
          "name": "Video Factory — Internal Secret"
        }
      }
    },
    {
      "parameters": {
        "url": "https://creavoo-factory.vercel.app/api/schedule",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "profile",
              "value": "zaportfolio"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "e1000000-0000-0000-0000-000000000003",
      "name": "Ambil Jadwal Zaportfolio (Digest)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        40,
        760
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "internal-secret-header",
          "name": "Video Factory — Internal Secret"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Susun ringkasan rencana konten HARI INI (WIB) untuk kedua profile, dari\n// settings jadwal masing-masing (dayConfigs per hari). Judul konten belum ada\n// di jam 8 pagi karena AI baru generate script tepat di jam produksinya —\n// jadi yang ditampilkan tipe konten (Video/Reels atau Carousel) + jam produksi.\nconst names = [\"Minggu\", \"Senin\", \"Selasa\", \"Rabu\", \"Kamis\", \"Jumat\", \"Sabtu\"];\nconst now = new Date();\nconst wibDay = new Date(now.getTime() + 7 * 3600 * 1000).getUTCDay();\nconst hariName = names[wibDay];\n\nfunction planFor(resp, label) {\n  const s = resp?.settings ?? {};\n  if (!s.enabled) return `${label}\\ncontent : (schedule OFF, tidak ada rencana hari ini)\\n`;\n  if (!(s.days ?? []).includes(wibDay)) return `${label}\\ncontent : (hari libur, tidak ada jadwal)\\n`;\n\n  const dc = s.dayConfigs?.[wibDay] ?? { times: s.times ?? [], carouselTimes: [] };\n  const items = [];\n  for (const h of (dc.times ?? [])) {\n    const pf = [];\n    if (s.autoTikTok) pf.push(\"TikTok\");\n    if (s.autoInstagram) pf.push(\"Instagram\");\n    items.push({ type: \"Video/Reels\", hour: h, pf });\n  }\n  for (const h of (dc.carouselTimes ?? [])) {\n    const pf = [];\n    if (s.autoInstagram) pf.push(\"Instagram\");\n    items.push({ type: \"Carousel\", hour: h, pf });\n  }\n  items.sort((a, b) => a.hour - b.hour);\n\n  if (!items.length) return `${label}\\ncontent : (hari evaluasi mingguan, tidak ada posting)\\n`;\n\n  let out = `${label}\\n`;\n  items.forEach((it, i) => {\n    out += `content : ${it.type}\\n`;\n    out += `platform : ${it.pf.join(\" / \") || \"-\"}\\n`;\n    out += `Produksi & posting : jam ${String(it.hour).padStart(2, \"0\")}:00 WIB\\n`;\n    if (i < items.length - 1) out += \"\\n\";\n  });\n  return out;\n}\n\nconst creavoo = $(\"Ambil Jadwal Creavoo (Digest)\").first().json;\nconst zap = $input.first().json;\n\nconst text =\n  `📅 RENCANA KONTEN SOSMED HARI ${hariName}\\n\\n` +\n  planFor(creavoo, \"Creavoo\") + \"\\n\" +\n  planFor(zap, \"zaportfolio\") + \"\\n\" +\n  `Source : https://creavoo-factory.vercel.app`;\n\nreturn [{ json: { text } }];"
      },
      "id": "e1000000-0000-0000-0000-000000000004",
      "name": "Susun Pesan Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        760
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "8145595315",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "id": "e1000000-0000-0000-0000-000000000005",
      "name": "Kirim Telegram Digest",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        760
      ],
      "credentials": {
        "telegramApi": {
          "id": "video-factory-bot",
          "name": "Video Factory — Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 20 * * 0"
            }
          ]
        }
      },
      "id": "f1000000-0000-0000-0000-000000000001",
      "name": "Minggu 20:00 WIB",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -420,
        1000
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://creavoo-factory.vercel.app/api/schedule/evaluate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ profile: \"creavoo\" }) }}",
        "options": {
          "timeout": 100000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "f1000000-0000-0000-0000-000000000002",
      "name": "Evaluasi Creavoo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -180,
        1000
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "internal-secret-header",
          "name": "Video Factory — Internal Secret"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://creavoo-factory.vercel.app/api/schedule/evaluate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ profile: \"zaportfolio\" }) }}",
        "options": {
          "timeout": 100000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "f1000000-0000-0000-0000-000000000003",
      "name": "Evaluasi Zaportfolio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        40,
        1000
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "internal-secret-header",
          "name": "Video Factory — Internal Secret"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Susun hasil evaluasi kedua profile jadi satu pesan Telegram.\nconst c = $(\"Evaluasi Creavoo\").first().json;\nconst z = $input.first().json;\n\nfunction block(label, r) {\n  if (!r?.ok) return `${label}\\n⚠️ Evaluasi gagal: ${r?.error ?? \"unknown\"}\\n`;\n  const status = r.applied ? \"✅ Jadwal minggu depan diperbarui\" : \"ℹ️ Jadwal dipertahankan (data belum cukup / tidak berubah)\";\n  return `${label} (${r.postsAnalyzed ?? 0} post dianalisis)\\n${r.narrative}\\n${status}\\n`;\n}\n\nconst text =\n  `📊 EVALUASI MINGGUAN\\n\\n` +\n  block(\"Creavoo\", c) + \"\\n\" +\n  block(\"Zaportfolio\", z) + \"\\n\" +\n  `Cek/atur manual di Schedule: https://creavoo-factory.vercel.app/schedule`;\n\nreturn [{ json: { text } }];"
      },
      "id": "f1000000-0000-0000-0000-000000000004",
      "name": "Susun Pesan Evaluasi",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        1000
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "8145595315",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "id": "f1000000-0000-0000-0000-000000000005",
      "name": "Kirim Telegram Evaluasi",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        1000
      ],
      "credentials": {
        "telegramApi": {
          "id": "video-factory-bot",
          "name": "Video Factory — Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "hcre0001",
              "leftValue": "={{ !!$json.runId }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "gcre00000-0000-0000-0000-000000000101",
      "name": "Ada RunId Creavoo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1580,
        -40
      ]
    },
    {
      "parameters": {
        "jsCode": "// Simpan runId + waktu mulai polling — dipakai sepanjang loop untuk cek timeout 2 jam\nconst runId = $input.first().json.runId;\nconst title = $(\"Parse & Siapkan Render Creavoo\").first().json.title;\nreturn [{ json: { runId, title, startedAt: Date.now() } }];"
      },
      "id": "gcre00000-0000-0000-0000-000000000102",
      "name": "Mulai Polling Creavoo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        -100
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "8145595315",
        "text": "={{ \"❌ [Creavoo] Trigger render GAGAL — GitHub Actions tidak memberi runId. Cek koneksi GITHUB_TOKEN.\" }}",
        "additionalFields": {}
      },
      "id": "gcre00000-0000-0000-0000-000000000103",
      "name": "Notif Trigger Render Gagal Creavoo",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1800,
        40
      ],
      "credentials": {
        "telegramApi": {
          "id": "video-factory-bot",
          "name": "Video Factory — Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 5,
        "unit": "minutes"
      },
      "id": "gcre00000-0000-0000-0000-000000000104",
      "name": "Tunggu 5 Menit Creavoo",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2020,
        -100
      ]
    },
    {
      "parameters": {
        "url": "https://creavoo-factory.vercel.app/api/run-status",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "runId",
              "value": "={{ $('Mulai Polling Creavoo').first().json.runId }}"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "gcre00000-0000-0000-0000-000000000105",
      "name": "Cek Status Render Creavoo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2240,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Tentukan aksi: selesai (sukses) / gagal (GH Actions conclusion != success) /\n// timeout (>2 jam sejak trigger) / tunggu (masih in_progress, lanjut poll)\nconst info = $(\"Mulai Polling Creavoo\").first().json;\nconst status = $input.first().json;\nconst elapsedMs = Date.now() - info.startedAt;\nconst TWO_HOURS = 2 * 3600 * 1000;\n\nlet action = \"tunggu\";\nif (status.status === \"completed\") {\n  action = status.conclusion === \"success\" ? \"selesai\" : \"gagal\";\n} else if (elapsedMs > TWO_HOURS) {\n  action = \"timeout\";\n}\n\nreturn [{ json: { action, runId: info.runId, title: info.title, elapsedMin: Math.round(elapsedMs / 60000) } }];"
      },
      "id": "gcre00000-0000-0000-0000-000000000106",
      "name": "Keputusan Polling Creavoo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2460,
        -100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "hcre0002",
              "leftValue": "={{ $json.action === 'selesai' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "gcre00000-0000-0000-0000-000000000107",
      "name": "Selesai Sukses Creavoo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2680,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://creavoo-factory.vercel.app/api/schedule/complete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ runId: $json.runId }) }}",
        "options": {
          "timeout": 90000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "gcre00000-0000-0000-0000-000000000108",
      "name": "Panggil Complete Creavoo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2900,
        -200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "internal-secret-header",
          "name": "Video Factory — Internal Secret"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "hcre0003",
              "leftValue": "={{ $json.action === 'gagal' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "gcre00000-0000-0000-0000-000000000109",
      "name": "Gagal Creavoo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2900,
        -20
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "8145595315",
        "text": "={{ \"❌ [Creavoo] Render GAGAL di GitHub Actions!\\n\\ntitle : \" + $json.title + \"\\nrunId : \" + $json.runId }}",
        "additionalFields": {}
      },
      "id": "gcre00000-0000-0000-0000-000000000110",
      "name": "Notif Render Gagal Creavoo",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3120,
        -20
      ],
      "credentials": {
        "telegramApi": {
          "id": "video-factory-bot",
          "name": "Video Factory — Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "hcre0004",
              "leftValue": "={{ $json.action === 'timeout' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "gcre00000-0000-0000-0000-000000000111",
      "name": "Timeout Creavoo?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2900,
        160
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "8145595315",
        "text": "={{ \"⏱️ [Creavoo] Render KELAMAAN (>2 jam), kemungkinan macet!\\n\\ntitle : \" + $json.title + \"\\nrunId : \" + $json.runId + \"\\n\\nCek manual di GitHub Actions.\" }}",
        "additionalFields": {}
      },
      "id": "gcre00000-0000-0000-0000-000000000112",
      "name": "Notif Timeout Creavoo",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3120,
        160
      ],
      "credentials": {
        "telegramApi": {
          "id": "video-factory-bot",
          "name": "Video Factory — Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "hzap0001",
              "leftValue": "={{ !!$json.runId }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "gzap00000-0000-0000-0000-000000000101",
      "name": "Ada RunId Zaportfolio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1580,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "// Simpan runId + waktu mulai polling — dipakai sepanjang loop untuk cek timeout 2 jam\nconst runId = $input.first().json.runId;\nconst title = $(\"Parse & Siapkan Render Zaportfolio\").first().json.title;\nreturn [{ json: { runId, title, startedAt: Date.now() } }];"
      },
      "id": "gzap00000-0000-0000-0000-000000000102",
      "name": "Mulai Polling Zaportfolio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1800,
        380
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "8145595315",
        "text": "={{ \"❌ [Zaportfolio] Trigger render GAGAL — GitHub Actions tidak memberi runId. Cek koneksi GITHUB_TOKEN.\" }}",
        "additionalFields": {}
      },
      "id": "gzap00000-0000-0000-0000-000000000103",
      "name": "Notif Trigger Render Gagal Zaportfolio",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1800,
        520
      ],
      "credentials": {
        "telegramApi": {
          "id": "video-factory-bot",
          "name": "Video Factory — Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 5,
        "unit": "minutes"
      },
      "id": "gzap00000-0000-0000-0000-000000000104",
      "name": "Tunggu 5 Menit Zaportfolio",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2020,
        380
      ]
    },
    {
      "parameters": {
        "url": "https://creavoo-factory.vercel.app/api/run-status",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "runId",
              "value": "={{ $('Mulai Polling Zaportfolio').first().json.runId }}"
            }
          ]
        },
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "gzap00000-0000-0000-0000-000000000105",
      "name": "Cek Status Render Zaportfolio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2240,
        380
      ]
    },
    {
      "parameters": {
        "jsCode": "// Tentukan aksi: selesai (sukses) / gagal (GH Actions conclusion != success) /\n// timeout (>2 jam sejak trigger) / tunggu (masih in_progress, lanjut poll)\nconst info = $(\"Mulai Polling Zaportfolio\").first().json;\nconst status = $input.first().json;\nconst elapsedMs = Date.now() - info.startedAt;\nconst TWO_HOURS = 2 * 3600 * 1000;\n\nlet action = \"tunggu\";\nif (status.status === \"completed\") {\n  action = status.conclusion === \"success\" ? \"selesai\" : \"gagal\";\n} else if (elapsedMs > TWO_HOURS) {\n  action = \"timeout\";\n}\n\nreturn [{ json: { action, runId: info.runId, title: info.title, elapsedMin: Math.round(elapsedMs / 60000) } }];"
      },
      "id": "gzap00000-0000-0000-0000-000000000106",
      "name": "Keputusan Polling Zaportfolio",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2460,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "hzap0002",
              "leftValue": "={{ $json.action === 'selesai' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "gzap00000-0000-0000-0000-000000000107",
      "name": "Selesai Sukses Zaportfolio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2680,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://creavoo-factory.vercel.app/api/schedule/complete",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ runId: $json.runId }) }}",
        "options": {
          "timeout": 90000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "gzap00000-0000-0000-0000-000000000108",
      "name": "Panggil Complete Zaportfolio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2900,
        280
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "internal-secret-header",
          "name": "Video Factory — Internal Secret"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "hzap0003",
              "leftValue": "={{ $json.action === 'gagal' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "gzap00000-0000-0000-0000-000000000109",
      "name": "Gagal Zaportfolio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2900,
        460
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "8145595315",
        "text": "={{ \"❌ [Zaportfolio] Render GAGAL di GitHub Actions!\\n\\ntitle : \" + $json.title + \"\\nrunId : \" + $json.runId }}",
        "additionalFields": {}
      },
      "id": "gzap00000-0000-0000-0000-000000000110",
      "name": "Notif Render Gagal Zaportfolio",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3120,
        460
      ],
      "credentials": {
        "telegramApi": {
          "id": "video-factory-bot",
          "name": "Video Factory — Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "hzap0004",
              "leftValue": "={{ $json.action === 'timeout' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "gzap00000-0000-0000-0000-000000000111",
      "name": "Timeout Zaportfolio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2900,
        640
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "8145595315",
        "text": "={{ \"⏱️ [Zaportfolio] Render KELAMAAN (>2 jam), kemungkinan macet!\\n\\ntitle : \" + $json.title + \"\\nrunId : \" + $json.runId + \"\\n\\nCek manual di GitHub Actions.\" }}",
        "additionalFields": {}
      },
      "id": "gzap00000-0000-0000-0000-000000000112",
      "name": "Notif Timeout Zaportfolio",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3120,
        640
      ],
      "credentials": {
        "telegramApi": {
          "id": "video-factory-bot",
          "name": "Video Factory — Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Tiap Jam (menit 0)": {
      "main": [
        [
          {
            "node": "Cek Jadwal Creavoo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Cek Jadwal Zaportfolio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek Jadwal Creavoo": {
      "main": [
        [
          {
            "node": "Gate Jadwal Creavoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate Jadwal Creavoo": {
      "main": [
        [
          {
            "node": "Trending Topik Creavoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trending Topik Creavoo": {
      "main": [
        [
          {
            "node": "Pilih Topik Creavoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pilih Topik Creavoo": {
      "main": [
        [
          {
            "node": "Generate Script Creavoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Script Creavoo": {
      "main": [
        [
          {
            "node": "Parse & Siapkan Render Creavoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Siapkan Render Creavoo": {
      "main": [
        [
          {
            "node": "Script Creavoo OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Script Creavoo OK?": {
      "main": [
        [
          {
            "node": "Trigger Render Creavoo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notif Gagal Creavoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek Jadwal Zaportfolio": {
      "main": [
        [
          {
            "node": "Gate Jadwal Zaportfolio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gate Jadwal Zaportfolio": {
      "main": [
        [
          {
            "node": "Trending Topik Zaportfolio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trending Topik Zaportfolio": {
      "main": [
        [
          {
            "node": "Pilih Topik Zaportfolio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pilih Topik Zaportfolio": {
      "main": [
        [
          {
            "node": "Generate Script Zaportfolio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Script Zaportfolio": {
      "main": [
        [
          {
            "node": "Parse & Siapkan Render Zaportfolio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Siapkan Render Zaportfolio": {
      "main": [
        [
          {
            "node": "Script Zaportfolio OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Script Zaportfolio OK?": {
      "main": [
        [
          {
            "node": "Trigger Render Zaportfolio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notif Gagal Zaportfolio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jam 8 Pagi WIB": {
      "main": [
        [
          {
            "node": "Ambil Jadwal Creavoo (Digest)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ambil Jadwal Creavoo (Digest)": {
      "main": [
        [
          {
            "node": "Ambil Jadwal Zaportfolio (Digest)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ambil Jadwal Zaportfolio (Digest)": {
      "main": [
        [
          {
            "node": "Susun Pesan Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Susun Pesan Digest": {
      "main": [
        [
          {
            "node": "Kirim Telegram Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Minggu 20:00 WIB": {
      "main": [
        [
          {
            "node": "Evaluasi Creavoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluasi Creavoo": {
      "main": [
        [
          {
            "node": "Evaluasi Zaportfolio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluasi Zaportfolio": {
      "main": [
        [
          {
            "node": "Susun Pesan Evaluasi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Susun Pesan Evaluasi": {
      "main": [
        [
          {
            "node": "Kirim Telegram Evaluasi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Render Creavoo": {
      "main": [
        [
          {
            "node": "Ada RunId Creavoo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ada RunId Creavoo?": {
      "main": [
        [
          {
            "node": "Mulai Polling Creavoo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notif Trigger Render Gagal Creavoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mulai Polling Creavoo": {
      "main": [
        [
          {
            "node": "Tunggu 5 Menit Creavoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tunggu 5 Menit Creavoo": {
      "main": [
        [
          {
            "node": "Cek Status Render Creavoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek Status Render Creavoo": {
      "main": [
        [
          {
            "node": "Keputusan Polling Creavoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keputusan Polling Creavoo": {
      "main": [
        [
          {
            "node": "Selesai Sukses Creavoo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selesai Sukses Creavoo?": {
      "main": [
        [
          {
            "node": "Panggil Complete Creavoo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gagal Creavoo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gagal Creavoo?": {
      "main": [
        [
          {
            "node": "Notif Render Gagal Creavoo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Timeout Creavoo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Timeout Creavoo?": {
      "main": [
        [
          {
            "node": "Notif Timeout Creavoo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tunggu 5 Menit Creavoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Render Zaportfolio": {
      "main": [
        [
          {
            "node": "Ada RunId Zaportfolio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ada RunId Zaportfolio?": {
      "main": [
        [
          {
            "node": "Mulai Polling Zaportfolio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notif Trigger Render Gagal Zaportfolio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mulai Polling Zaportfolio": {
      "main": [
        [
          {
            "node": "Tunggu 5 Menit Zaportfolio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tunggu 5 Menit Zaportfolio": {
      "main": [
        [
          {
            "node": "Cek Status Render Zaportfolio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cek Status Render Zaportfolio": {
      "main": [
        [
          {
            "node": "Keputusan Polling Zaportfolio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keputusan Polling Zaportfolio": {
      "main": [
        [
          {
            "node": "Selesai Sukses Zaportfolio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Selesai Sukses Zaportfolio?": {
      "main": [
        [
          {
            "node": "Panggil Complete Zaportfolio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gagal Zaportfolio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gagal Zaportfolio?": {
      "main": [
        [
          {
            "node": "Notif Render Gagal Zaportfolio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Timeout Zaportfolio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Timeout Zaportfolio?": {
      "main": [
        [
          {
            "node": "Notif Timeout Zaportfolio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tunggu 5 Menit Zaportfolio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Jakarta"
  },
  "pinData": {}
}